@use "../../sass/" as *;

.block {
  background-color: $main-color;
  position: fixed;
  height: 200%;
  width: 100%;
  transform: rotate(-15deg);
  left: -86%;
  top: -50%;
  z-index: -999;
  @include tablet {
    display: none;
  }
}

.biography {
  width: 100%;
  overflow-y: hidden;
  &__content {
    @include flex(center, center);

    &__imgWrap {
      flex: 1;
      margin-top: 40px;
      margin-left: 40px;

      &__img {
        height: calc(100vh - 80px);
        border-radius: 30px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0 0 7px rgb(0 0 0 / 90%);
      }
      @include tablet {
        display: none;
      }
    }
    &__infoWrap {
      flex: 2;
      padding-left: 100px;

      @include tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0px;
        padding: 5rem 1rem;
      }

      .mobileAvatar {
        display: none;
        @include tablet {
          display: unset;
          img {
            width: 300px;
            height: 300px;
            object-fit: cover;
            object-position: top;
            border-radius: 50%;
          }
        }
      }
      &__info {
        h1 {
          font-size: 45px;
          line-height: 70px;
          color: $main-color;
          font-weight: 700;
          position: relative;
          padding-left: 50px;
          margin-bottom: 1rem;
          @include tablet {
            padding-left: 0;
            text-align: center;
            font-size: 30px;
          }

          &::before {
            content: "";
            width: 40px;
            height: 5px;
            top: 32px;
            left: 0;
            background-color: $main-color;
            position: absolute;
            @include tablet {
              display: none;
            }
          }
          span {
            color: $white;
            display: block;
          }
        }
        p {
          color: $white;
          line-height: 2.5rem;
          padding-right: 9rem;
          font-size: 1.2rem;
          margin-bottom: 1.5rem;
          font-weight: 500;
          @include tablet {
            padding-right: 0;
            font-size: 1rem;
            padding: 0 2rem;
          }
        }
        .btns {
          @include tablet {
            @include flex(center, center);
          }
        }
      }
    }
  }
}
