@use "../../sass/" as *;

.modal-overlay {
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  visibility: hidden;

  &.active {
    visibility: visible;
  }
}

.modal {
  position: fixed;
  z-index: 200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  max-width: 1200px;
  width: 100%;
  min-height: 500px;
  background-color: #2b2a2a;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, transform 0.6s ease;

  @include tablet {
    width: 95%;
  }

  &.active {
    opacity: 1;
    transform: translate(-50%, -50%);
    visibility: visible;
    @include tablet {
      position: absolute;
      top: 100%;
    }
  }

  &__x {
    position: absolute;
    right: -2%;
    top: -2%;
    background-color: transparent;
    border: 3px solid $white;
    padding: 6px 9px;
    border-radius: 50%;
    transform: scale(1.5);
    cursor: pointer;
    color: $main-color;
    @include tablet {
      right: 0;
      top: -1%;
      transform: scale(1.3);
    }
  }
  .modal-content {
    @include flex(space-between, flex-start);
    padding: 2rem;
    gap: 2rem;

    @include tablet {
      flex-direction: column;
    }

    .modal-title {
      font-size: 35px;
      border-bottom: 1px solid grey;
      color: $main-color;
      text-transform: uppercase;
      position: relative;
      span::after {
        content: "";
        position: absolute;
        width: 80px;
        height: 4px;
        border-radius: 30px;
        background-color: $main-color;
        left: 0;
        bottom: 0;
      }
    }

    &__gallery {
      width: calc(50% - 2rem);
      overflow-x: hidden;

      @include tablet {
        width: 100%;
      }

      .main-gallery {
        padding-top: 20px;

        .swiper-button-next {
          color: $white;
          right: 10px;
          font-weight: 700;
        }

        .swiper-button-prev {
          color: $white;
          left: 10px;
          font-weight: 700;
        }

        .main-img {
          width: 100%;
          height: 100%;
          border-radius: 4px;
          opacity: 0.5;
          transition: opacity 0.2s ease;
          &.active {
            opacity: 1;
          }
        }
      }
      .sub-gallery {
        margin-top: 5px;

        .sub-img {
          border-radius: 4px;
          width: 100%;
          height: 100%;
          opacity: 0.5;
          transition: opacity 0.5s ease;

          &.active,
          &:hover,
          &:active {
            opacity: 1;
          }
        }
      }
    }

    &__info {
      width: calc(50% - 2rem);

      @include tablet {
        width: 100%;
      }
      .modal-detail {
        padding-top: 15px;

        &__title {
          font-size: 30px;
          color: $white;
          font-weight: 700;
          letter-spacing: 1px;
          margin-bottom: 10px;
        }

        &__overview {
          color: $white;
          line-height: 28px;
          margin-bottom: 10px;
        }

        h4 {
          color: $white;
          font-weight: 300;
          margin-bottom: 15px;

          .splash {
            color: $main-color;
          }

          span {
            font-weight: 500;
            color: $white;
          }
          a {
            color: $main-color;
            font-weight: 600;
          }
        }
      }
    }
  }
}
