@use "./sass/" as *;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&family=Poppins:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  background-color: $body-bg;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a,
li,
ul {
  text-decoration: none;
  color: $txt-color;
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #333;
}
::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 20px;
  border: 3px solid #333;
}

.container {
  margin: auto;
  max-width: 1620px;
}

.section {
  padding: 0 3rem;
  position: relative;
  @include mobile {
    padding: 3.75rem 1rem;
  }
}
